@media (max-width: 767px) {
    .top {
        height: 735px;
    }
    
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .button {
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .games__item {
        width: 343px;
    }

    .game {
        padding-top: 57px;
        padding-bottom: 85px;

        &__block {
            flex-direction: column;
            gap: 64px;
        }

        &__info {
            text-align: center; 
        }

        &__name {
            font-size: 32px;
        }

        &__description {
            font-size: 14px;
            line-height: 22px;
        }

        &__img {
            width: 344px;
            height: 236px;
        }
    }

}