@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .header {
        &__title {
            font-size: 40px;
        }
        
    }

    .games__box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    } 

}